{% if files %}
<div class="list">
    {% for file in files %}
    <div class="list-item">
        <a href="{% url 'files:file_download' file.id %}" class="btn btn-primary" style="float: right;">
            <strong class="btn-text">Download</strong>
        </a>
        <h3>{{file.name}}</h3>
        <h5>{{file.filename}}
        </h5>
        <p>{{file.description}}</p>
        <i>from {{file.ip}} at {{file.date}}</i>
    </div>
    {% endfor %}
</div>
{% else %}
<h3> Nothing here, you can add files.</h3>
{% endif %}